<h1>Create a new investment</h1>

<div class="card">
  <%= form_with(model: @investment, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :asset %>
      <%= form.text_field :asset, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :value %>
      <%= form.number_field :value, step: "0.01", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :percent %>
      <%= form.number_field :percent, step: "0.01", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Investments", investments_path, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Trades", trades_path, class: "btn btn-primary" %>
</div>
