<h1>Dashboard of Trades</h1>

<div class="card">
    <img src="https://clubedospoupadores.com/wp-content/uploads/2022/04/bova11-x-cdi.png" alt="trading" width="600" height="auto">
</div>


<div class="card">
  <h2>Trades</h2>

  <% @trades.each do |trade| %>
    <ul>
      <li>
        </p><strong>Asset:</strong><%= trade.asset %> <strong>Result:</strong><%=trade.financial_result %> <strong>Contracts:</strong><%=trade.contracts%><p>
      </li>
    </ul>
  <% end %>
</div>

<div class="card">
  <h2>Day performance</h2>
    <img src="https://www.investopedia.com/thmb/uf6yhbf_NsqLJsaMkIGNv17HI4Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/performance2-5c05849d46e0fb0001810d0c" alt="per">
  </div>

<div>
  <%= link_to new_trade_path, class: "btn btn-primary", role: "button" do %>
    Create a trade
  <% end %>
</div>


<div>
<%= link_to "Go to Investments", investments_path, class: "btn btn-primary" %>
</div>
